<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class=" ">
        <h1>SITE OBSOLÈTE, ALLEZ À https://joeba-i.carrd.co/ POUR UN PORTFOLIO À JOUR!! :)</h1>
        <h2>Ce site reste en ligne pour l'archivage </h2>
        <p>Mon intérêt pour les jeux vidéos et le création de ceux-ci date depuis mon enfance. Cette fascination m'a poussé à apprendre plusieurs logiciels de création tel que Blender, Aseprite et Roblox Studio. Je souhaite un jour créer et contribuer à des projets de jeux et inspirer les joueurs tout comme je l'étais dans ma jeunesse.</p>
      </div>
    </div>
  </div>
</section>
